# Datan analysointi K2021 - Tehtävät kerta 2

Palauta ratkaisusi Moodleen, kun olet ensin testannut ratkaisusi toimivuuden Notebookilla tai omalla koneellasi. Kun olet palauttanut tehtäväsi Moodleen, ne arvioidaan pistein:
* 1,0 p. Vastaus oikein ensimmäisellä yrityksellä.
* 0,5 p. Vastaus oikein toisella yrityksellä.
* 0 p. Vastaus annettu kolmannella yrityksellä.

**Tee tehtävät ilman for-silmukoita tms.**

## 1. Kunnat

Tee funktio kunnat(url), joka tekee seuraavaa:
* lataa datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku),
* kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, joissa sarakkeessa 'maakunta' esiintyvät merkkijonot 'Uusimaa', 'Keski-Pohjanmaa' tai 'Keski-Suomi' ja sarakkeen 'Väkiluku' arvo on pienempi kuin 10 000,
* kopioi edellisen DataFramen uuteen DataFrameen siten, että ensin on lajiteltu sarake 'maakunta' ja sitten sarake 'kunta' aakkosissa nousevaan järjestykseen,
* tulostaa lopputulokseen viisi ensimmäistä riviä.

Tehtävän url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv

Esimerkiksi kunnat(url) tulostaa:

| |maakunta |      	kunta  			|Väkiluku|
|:---|:---|:---|:---|
|22       	|Keski-Pohjanmaa|      	Halsua      	|1165    |
|75       	|Keski-Pohjanmaa|      	Kannus      	|5502    |
|84       	|Keski-Pohjanmaa|   	Kaustinen      	|4273    |
|136      	|Keski-Pohjanmaa|  		Lestijärvi      |737     |
|191      	|Keski-Pohjanmaa|       Perho      		|2825    |

**Huom!** Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.

In [17]:
def kunnat(url):
    # Kirjoita vastauksesi tähän alle:
    import pandas as pd
    
    df = pd.read_csv(url, sep=';', decimal=',')
    df2 = df[((df['maakunta']=='Uusimaa') | (df['maakunta']=='Keski-Pohjanmaa') | (df['maakunta']=='Keski-Suomi')) & (df['Väkiluku']<10000)]
    tulos = df2[['maakunta', 'kunta', 'Väkiluku']].sort_values(['maakunta', 'kunta'])
    tulos = tulos.head()
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)

# Palautuksesi päättyy tähän.
# Voit lopuksi testata tekemääsi funktiota:
url="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv"
kunnat(url)

            maakunta       kunta  Väkiluku
22   Keski-Pohjanmaa      Halsua      1165
75   Keski-Pohjanmaa      Kannus      5502
84   Keski-Pohjanmaa   Kaustinen      4273
136  Keski-Pohjanmaa  Lestijärvi       737
191  Keski-Pohjanmaa       Perho      2825

## 2. Sähkön hintatietojen luokittelua

Tee funktio sahko(url), joka tekee seuraavaa:
* Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
* jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
* tekee DataFrameen uuden sarakkeen 'hintaluokka', jossa on viisi hintaluokkaa sarakkeesta 'Year Total €/MWh' siten, että alimman ja ylimmän hintaluokan hinnat ovat 'Year Total €/MWh' sarakkeen pienimmät ja suurimmat arvot,
* tulostaa 'hintaluokka' sarakkeen hintaluokkien lukumäärät value_counts()-metodilla.
* tarkista lopuksi, että funktio jäjestää tulosteen samoin kuin esimerkkivastauksessa.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv

**Esimerkiksi, sahko(url) tulostaa:** \
(12.06, 21.256]     21 \
(21.256, 30.452]    85 \
(30.452, 39.648]    78 \
(39.648, 48.844]    22 \
(48.844, 58.04]     28 \
Name: hintaluokka, dtype: int64

In [128]:
def sahko(url):    
    # Kirjoita vastauksesi tähän:
    import pandas as pd
    import numpy as np 
    
    df = pd.read_csv(url)
    df2 = df.loc[:,'Year Total €/MWh':'December €/MWh'].isin(['.']) # True/false -dataframe
    df[df2] = np.nan 

    min = df["Year Total €/MWh"].astype(float).min()
    max = df["Year Total €/MWh"].astype(float).max()
    df['hintaluokka'] = pd.cut(df['Year Total €/MWh'].astype(float), bins=np.linspace(min, max, num=6))

    tulos = df['hintaluokka'].value_counts(sort=False)

    # Vastauksesi tulostetaan
    print(tulos.head())
# Palautuksesi päättyy tähän.


url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"

# Voit kokeilla funktiotasi seuraavasti:
sahko(url)

(12.06, 21.256]     21
(21.256, 30.452]    85
(30.452, 39.648]    78
(39.648, 48.844]    22
(48.844, 58.04]     28
Name: hintaluokka, dtype: int64

## 3. Sähkön hintatietojen luokittelua (2)

Tee funktio suomisahko(url), joka tekee seuraavaa:
* Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
* jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
* muuntaa sarakkeiden 'Year Total €/MWh' ja 'December €/MWh' ja niiden välissä olevien sarakkaiden tietotyypiksi float,
* kopioi DataFramesta kaikki sarakkeet ja ne rivit noiden sarakkeessa 'Price area' on merkkijono 'Finland',
* laskee **koko vuoden** sähkön hinnan keskiarvon uuteen sarakkeeseen 'Average €/MWh' kuukausilta ('January €/MWh'-'December €/MWh'),
* laskee sarakkeeseen 'Below average price' kuinka monena kuukautena sähkönhinta on ollut alle vuoden keskiarvon,
* laskee sarakkeeseen 'Above average price' kuinka monena kuukautena sähkönhinta on ollut yli vuoden keskiarvon tai yhtä paljon kuin keskiarvohinta,
* tulostaa vain ne kymmenen riviä (head(10)), jolloin sarakkeiden 'Below average price' ja 'Above average price' summa on 12.


Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv

**Esimerkiksi, suomisahko(url) tulostaa:**

|  |Year|  Below average price|  Above average price|
|:---|:---|:---|:---|
|145|  1998|                    5|                    7|
|146|  1999|                    5|                    7|
|147|  2000|                    7|                    5|
|148|  2001|                    7|                    5|
|149|  2002|                    9|                    3|
|150|  2003|                    9|                    3|
|151|  2004|                    7|                    5|
|152|  2005|                    5|                    7|
|153|  2006|                    6|                    6|
|154|  2007|                    7|                    5|

**Huom!** Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.

In [4]:
# Palautuksesi alkaa tästä
def suomisahko(url):    
    # Kirjoita vastauksesi tähän:
    import pandas as pd
    import numpy as np
    
    df = pd.read_csv(url)
    df2 = df.iloc[:,2:].isin(['.']) # True/false -dataframe
    df[df2] = np.nan     
    # muuntaa sarakkeiden 'Year Total €/MWh' ja 'December €/MWh' ja niiden välissä olevien sarakkaiden tietotyypiksi float
    cols = df.columns[2:] #true/false-taulu
    df[cols] = df[cols].astype(float)    
    # vaihtoehtoinen tapa
    #df[cols] = df[cols].apply(lambda x: x.astype(float))    
    df = df.loc[df['Price area'] =='Finland']
    cols2 = df.columns[3:]
    # laskee koko vuoden sähkön hinnan keskiarvon uuteen sarakkeeseen 'Average €/MWh' kuukausilta ('January €/MWh'-'December €/MWh')
    df['Average €/MWh'] = df[cols2].mean(axis=1)
    # laskee sarakkeeseen 'Below average price' kuinka monena kuukautena sähkönhinta on ollut alle vuoden keskiarvon
    df['Below average price'] = df[cols2].apply(lambda x: x < df["Average €/MWh"]).sum(axis=1)
    # laskee sarakkeeseen 'Above average price' kuinka monena kuukautena sähkönhinta on ollut yli vuoden keskiarvon tai yhtä paljon kuin keskiarvohinta
    df['Above average price'] = df[cols2].apply(lambda x: x >= df['Average €/MWh']).sum(axis=1)
    tulos = df[['Year', 'Below average price', 'Above average price']]
    tulos = tulos[tulos["Below average price"] + tulos["Above average price"] == 12]
    
    # Sama kuin edellinen maski avattuna
    #mask = tulos["Below average price"] + tulos["Above average price"] == 12
    #tulos = tulos[mask].head(10)
    
    # Vastauksesi tulostetaan
    print(tulos.head(10))

# Palautuksesi päättyy tähän.
    
url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"
# Voit kokeilla funktiotasi seuraavasti:
suomisahko(url)

     Year  Below average price  Above average price
145  1998                    5                    7
146  1999                    5                    7
147  2000                    7                    5
148  2001                    7                    5
149  2002                    9                    3
150  2003                    9                    3
151  2004                    7                    5
152  2005                    5                    7
153  2006                    6                    6
154  2007                    7                    5

## 4. Henkilötietojen muodostamista merkkijonoista

Tee funktio **mail(url)**, joka tekee seuraavaa:
* lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
* tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
* poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
* järjestää yhteystiedot sukunimen mukaan aakkosissa suurimmasta pienimpään(Ö->A),
* tulostaa viisi ensimmäistä riviä.

Tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv

**Esimerkiksi**, mail(url) tulostaa:

| |sukunimi |                      email|
|:---|:---|:---|
|29  |    Zovko  |         nina.zovko@azo.hr|
|173  |  Yotova  |iyotova@moew.government.bg|
|73   |  Vitola   |    evita.vitola@lvgmc.lv|
|213  |Virgovič   |radoslav.virgovic@sazp.sk|
|268  |Virgovic   |radoslav.virgovic@sazp.sk|

In [113]:
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    import pandas as pd
        
    df = pd.read_csv(url, sep = r'\t', engine="python", encoding="utf-8-SIG", converters = {'"ID' : (lambda x : x[1:]), 'EMail"' : (lambda x : x[:-1])})
    new_df = df[['NameOfContactPerson', 'EMail"']]
    new_df = new_df.drop_duplicates(['NameOfContactPerson'])
    new_df['sukunimi'] = new_df['NameOfContactPerson'].str.split().str.get(-1)
    new_df.sort_values('sukunimi', ascending = False, inplace = True)
    new_df = new_df.rename(columns={'EMail"': 'email'})
    new_df = new_df[['sukunimi', 'email']]
    tulos = new_df.head()
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)
    
# Palautuksesi päättyy tähän.    

# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

     sukunimi                       email
29      Zovko           nina.zovko@azo.hr
173    Yotova  iyotova@moew.government.bg
73     Vitola       evita.vitola@lvgmc.lv
213  Virgovič   radoslav.virgovic@sazp.sk
268  Virgovic   radoslav.virgovic@sazp.sk

## 5. Henkilötietojen muodostamista merkkijonoista (2)

Tee funktio **mail(url)**, joka tekee **järjestyksessä** seuraavaa:
* lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
* poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
* poistaa sarakkeen 'NameOfContactPerson' kaikilta riveiltä kaarisulkeet ja niiden sisällä olevat merkkijonot,
* tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
* tallentaa uuteen DataFramen sarakkeeseen ('surname') vain ne rivit, joissa sukunimi sarakkeessa esiintyy aakkosia tai yhdysviiva "-" osana sukunimeä,
* tallentaa uuteen DataFrameen sarakkeen ('domainend'), jossa on sähköpostiosoitteen domainin loppuosa (esim. **fi**),
* poistaa sarakkeesta 'domainend' tyhjät merkkijonot,
* järjestää DataFramen rivit sarakkeen 'surname' mukaan aakkosittain nousevaan järjestykseen (A -> Ö),
* tulostaa DataFramesta viisi ensimmäistä riviä sarakkeista 'surname' ja 'domainend'.

Tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv

**Esimerkiksi**, mail(url) tulostaa:

| | surname| domainend|
|:---|:---|:---|
|327|  Al-Hanbali|        se|
|163|   Alexandru|        ro|
|287|  Berzinskas|        lt|
|330|     Brennan|        uk|
|257|      Cassar|        mt|

In [178]:
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    import pandas as pd
   
    df = pd.read_csv(url, sep = r'\t', engine="python", encoding="utf-8-SIG", converters = {'"ID' : (lambda x : x[1:]), 'EMail"' : (lambda x : x[:-1])})
    df_new = df[['NameOfContactPerson', 'EMail"']]
    df_new = df_new.drop_duplicates(['NameOfContactPerson'])
    df_new['NameOfContactPerson'] = df_new['NameOfContactPerson'].str.replace('[(,)]', '')
    df_new = df_new[df_new['NameOfContactPerson'].str.contains('\D')==True]    
    df_new['surname'] = df_new['NameOfContactPerson'].str.split().str.get(-1)        
    df_new['domainend'] = df['EMail"'].str.split('@').str.get(1).str.split('.').str.get(-1)
    df_new = df_new.dropna() 
    df_new = df_new[['surname', 'domainend']]
    df_new.sort_values('surname', inplace = True) 
    tulos = df_new.head()
    
    #Lopuksi vastauksesi tulostetaan tulos muuttujassa    
    print(tulos)

# Palautuksesi päättyy tähän.

# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

         surname domainend
327   Al-Hanbali        se
163    Alexandru        ro
287   Berzinskas        lt
330      Brennan        uk
257       Cassar        mt
290       Cassar        mt
193      Cordero        es
247        Duffy        ie
113    Dvořáková        cz
328       Fašing        si
143   Grzybowski        pl
153       Jardim        pt
43        Jensen        dk
10         Kludt        de
93           Kun        hu
296       Kvasič        si
286         LENA        it
123          Laé        fr
63          Lena        it
217     Lunskutė        lt
19        Mandel        ee
33      Morfeldt        se
297   Ogunbadejo        uk
294    Paraschiv        ro
83           PhD        lu
322    Piccinino        mt
237  Prendergast        uk
274     REICHARD        at
280         Raud        ee
0       Reichard        at
298    Restelica       net
227         Roth        si
203     Saarinen        fi
320      Schuman        lu
267    Situation        de
308    Situation        de
103    Vanpoucke        be
183    Vassiliou        cy
268     Virgovic        sk
213     Virgovič        sk
73        Vitola        lv
173       Yotova        bg
29         Zovko        hr